<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand"routerLink="/">
            <img src="assets/logo.png" alt="logo.png" width="50" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#monkeyWeatherNavbar"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="monkeyWeatherNavbar">
            <ul class="navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i>{{ firstLink }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register"><i class="far fa-user-circle"></i>{{ secondLink }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>