<div class="row">
    <div class="col-auto">
        <input type="search" class="form-control"  placeholder="Buscar ciudad" (keyup)="onInputKeyUp($event)">
    </div>
    <div class="col-auto">
        <button class="btn btn-primary" (click)="searchCity()" title="Buscar ciudad"><i class="fas fa-search"></i></button>
        <ng-template [ngIf]="showButtons">
            <button class="btn btn-success" title="Agregar a favoritos"><i class="fas fa-bookmark"></i></button>
            <button class="btn btn-danger" title="Agregar a favoritos"><i class="fas fa-eraser"></i></button>
        </ng-template>
    </div>
</div>